* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* home.jsx page */
.main-container {
  width: 100%;
  background-color: #fff;
}
.inner-container {
  width: 935px;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: row;
}
.right-section {
  width: 279px;
  padding-top: 31px;
  padding-left: 12px;
}
@media only screen and(max-width:1200px) {
  .right-section {
    right: 70px;
  }
}
/* story.jsx page */
.story {
  width: 100%;
  background-color: white;
}
.story-box {
  width: 610px;
  height: 115px;
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: width.4s;
  border: none;
  /* border: 1px solid rgba(65, 60, 60, 0.295); */
}
.story-1 {
  margin-right: 10px;
  margin-left: 10px;
  transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
}
.story-image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid tomato;
  object-fit: cover;
}
.storybtn {
  border: none;
  background-color: white;
}
.story-H {
  text-align: center;
  font-size: 1px;
  font-weight: 600;
}
.icon-style1 {
  position: relative;
  float: right;
  top: -70px;
  left: 0px;
  color: white;
  cursor: pointer;
}
.icon-style2 {
  position: relative;
  float: left;
  top: -70px;
  left: 10px;
  color: white;
  cursor: pointer;
}
.post {
  width: 610px;
  height: auto;
  border: 0.5px solid rgba(0, 0, 0, 0.201);
  margin-top: 50px;
  background-color: white;
  margin-bottom: 30px;
}
.p_d {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
.p_inner {
  width: 200px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin: top 10px;
}
.p_p {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid salmon;
}
.p_name {
  color: #262626;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
}
.threedots {
  width: 30px;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 16px;
}
.threedots:hover {
  cursor: pointer;
}
.pp_full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reaction_icon {
  display: flex;
  margin: 20px, 0px, 0px, 10px;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}
.left_i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.left_i img {
  /* margin-left: 5px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right_i img {
  /* margin-right: 10px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reactionbtn {
  border: none;
  background-color: #fff;
}
.numlikes {
  font-weight: 600;
  padding-left: 12px;
  padding-top: 10px;
}
.posttitle {
  font-weight: 700;
  padding-left: 12px;
}
.postbody {
  display: inline;
  font-size: 14px;
  color: black;
}
.viewcommentbtn {
  font-weight: 500;
  color: darkgray;
  border: none;
  padding-left: 12px;
}
.commentview {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.comment {
  padding-left: 10px;
  color: black;
}
.postdate {
  color: gray;
  padding-left: 14px;
  font-size: 10px;
}
.comment_section {
  border-top: 0.5ps solid rgba(0, 0, 0, 0);
  padding-top: 10px;
  display: flex;
  margin-top: 9px;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}
.input_box img {
  margin-left: 10px;
}
.input_c {
  margin-left: 10px;
  border: none;
  outline: none;
}
.input_c::placeholder {
  font-family: sans-serif;
}
.c_text button {
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #3aebf7;
  border: none;
  background-color: #fff;
}
.bigavatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.d_block {
  color: black;
  font-weight: 600;
}
.suggestnbtn {
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
}
.sug_avatar {
  width: 35px;
  height: 32px;
  border-radius: 35px;
}
.sug_followbtn {
  border: none;
  color: #3aebf7;
  background-color: none;
  font-weight: 600;
}
